/*---------------------- TTT (GGG)----------------------*/

body{
    margin: 0;
    height: 200vh;
    font-family: Gamma Orionis;
}

.wrapper{
    height: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 75px 250px 2000px 400px;
    grid-template-areas: 
    "header header"
    "list list"
    "main main"
    "content content"
    "disclaimer disclaimer";
}

header{
    height: 101px;
    width: 100%;
    grid-area: header;
    background-color: black;
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid white;
}

.TTT{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
}

.undertext{
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
}

.list{
    grid-area: list;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
}

.listan{
    width: 140px;
    height: 210px;
    background-color: black;
    z-index: 3;
    position: absolute;
    left: 117.5px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: whitesmoke solid 1px;
    font-size: 25px;
}

.dororo{
    height: 180px;
    display: grid;
    grid-template-rows: 40px 72px 72px 72px 72px 72px;
    grid-template-areas:
    "oh"
    "bh"
    "dh"
    "rh"
    "gh"
    "fh";
    overflow: scroll;
    overflow-x: hidden;
    border-top: whitesmoke solid 1px;
}

.enddd{
    display: none;
}

.endd{
    display: none;
}

.listan ul{
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
}

.listan p{
    color: white;
    width: 40px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listan ul:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}

.tororo{
    grid-area: oh;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
    text-decoration-line: underline;
}

.listan i{
    font-size: 30px;
    margin-left: 10px;
}

a{
    color: white;
    text-decoration-line: none;
}

.listan_aftercringe{
    width: 140px;
    height: 40px;
    background-color: black;
    z-index: 3;
    position: absolute;
    left: 117.5px;
    margin-top: 20px;
    border-radius: 10px;
    border: whitesmoke solid 1px;
    font-size: 25px;
}

.listan_aftercringe p{
    color: white;
    width: 40px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listan_aftercringe i{
    font-size: 30px;
    margin-left: 10px;
}

.cursor:hover{
    cursor: pointer;
}

.listan ul:nth-child(1){
    grid-area: bh;
}

.listan ul:nth-child(2){
    grid-area: dh;
}

.listan ul:nth-child(3){
    grid-area: rh;
}

.listan ul:nth-child(4){
    grid-area: gh;
}

.listan ul:nth-child(5){
    grid-area: fh;
}

main{
    grid-area: main;
    background-color: black;
    z-index: 2;
}

.understandtext{
    height: 100px;
    width: 300px;
    margin-top: 35px;
    color: white;
    display: flex;
}

.content{
    grid-area: content;
    background-color: darkgrey;
}

.disclaimer{
    grid-area: disclaimer;
    background-color: black;
    font-family: Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "big"
    "little"
    "rights";
    box-shadow: 0px 0px 25px black, 25px 25px 25px black, 0px 0px 5px black;
    z-index: 10;
}

.big_distext{
    color: white;
    grid-area: big;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
}

.little_distext{
    grid-area: little;
    display: flex;
    justify-content: center;
}

.little_distext ul{
    padding: 0;
}

ul li{
    color: white;
    height: 20%;
}

.rights{
    color: white;
    grid-area: rights;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 25px 1px black, 0 0 25px black, 0 0 5px black;
}

.main_text{
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}

.gaben_gone_gack_akronym{
    color: white;
    font-size: 70px;
}

.gaben_gone_gack_normie{
    color: white;
    font-size: 20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.content2{
    height: 15%;
    width: 75%;
    display: grid;
    grid-template-rows: 70% auto;
    grid-template-areas:
    "pic"
    "txt";
    margin: 40px;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkred;
}

.content2_pic{
    grid-area: pic;
    background-image: url(../img/god_gaben\ @282x210.jpg)
}

.content2_text{
    border-top: white solid 4px;
    grid-area: txt;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

.content3{
    height: 15%;
    width: 75%;
    display: grid;
    grid-template-rows: 70% auto;
    grid-template-areas:
    "pic"
    "txt";
    margin: 40px;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkred;
}

.content3_pic{
    grid-area: pic;
    background-image: url(../img/tank_gaben\ @282x210.jpg)
}

.content3_text{
    border-top: white solid 4px;
    grid-area: txt;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center; 
}

.content4{
    height: 15%;
    width: 75%;
    display: grid;
    grid-template-rows: 70% auto;
    grid-template-areas:
    "pic"
    "txt";
    margin: 40px;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkred;
}

.content4_pic{
    grid-area: pic;
    background-image: url(../img/heavenly_gaben\ @282x210.jpg)
}

.content4_text{
    border-top: white solid 4px;
    grid-area: txt;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

.content5{
    height: 15%;
    width: 75%;
    display: grid;
    grid-template-rows: 70% auto;
    grid-template-areas:
    "pic"
    "txt";
    margin: 40px;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkred;
}

.content5_pic{
    grid-area: pic;
    background-image: url(../img/geo_gaben\ @282x210.png)
}

.content5_text{
    border-top: white solid 4px;
    grid-area: txt;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

.content6{
    height: 15%;
    width: 75%;
    display: grid;
    grid-template-rows: 70% auto;
    grid-template-areas:
    "pic"
    "txt";
    margin: 40px;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkred;
}

.content6_pic{
    grid-area: pic;
    background-image: url(../img/gaben_ladies-man\ @282x210.jpg)
}

.content6_text{
    border-top: white solid 4px;
    grid-area: txt;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

/*---------- TTT (NNN) ----------*/
.content2_pic_NNN{
    grid-area: pic;
    background-image: url(../img/nyx1\ @282x210.jpg)
}

.content3_pic_NNN{
    grid-area: pic;
    background-image: url(../img/nyx2\ @282x210.png)
}

.content4_pic_NNN{
    grid-area: pic;
    background-image: url(../img/nyx3\ @282x210.jpg)
}

.content5_pic_NNN{
    grid-area: pic;
    background-image: url(../img/nyx4\ @282x210.png)
}

.content6_pic_NNN{
    grid-area: pic;
    background-image: url(../img/nyx5\ @282x210.jpg)
}

/*---------- TTT (MMM) ----------*/
.content2_pic_MMM{
    grid-area: pic;
    background-image: url(../img/madmudman1\ @282x210.jpg)
}

.content3_pic_MMM{
    grid-area: pic;
    background-image: url(../img/madmudfamily\ @282x210.jpg)
}

.content4_pic_MMM{
    grid-area: pic;
    background-image: url(../img/mudmonster\ @282x210.jpg)
}

.content5_pic_MMM{
    grid-area: pic;
    background-image: url(../img/insanemudman\ @282x210.jpg)
}

.content6_pic_MMM{
    grid-area: pic;
    background-image: url(../img/madmudmen\ @282x210.jpg)
}

/*---------- TTT (MMM) ----------*/
.content2_pic_EEE{
    grid-area: pic;
    background-image: url(../img/whiteegg\ @282x210.jpg)
}

.content3_pic_EEE{
    grid-area: pic;
    background-image: url(../img/eyeegg\ @282x210.jpg)
}

.content4_pic_EEE{
    grid-area: pic;
    background-image: url(../img/knotegg\ @282x210.jpg)
}

.content5_pic_EEE{
    grid-area: pic;
    background-image: url(../img/viralegg\ @282x210.jpg)
}

.content6_pic_EEE{
    grid-area: pic;
    background-image: url(../img/eggsareweird\ @282x210.jpg)
}

/* --------FONTS-------- */
@font-face {
    font-family: Gamma Orionis;
    src: url(../fonts/Gamma\ Orionis.otf);
}


/*----------- DESKTOP TTT -----------*/
@media only screen and (min-width: 900px){
    .listan{
        left: 690px;
    }

    .listan_aftercringe{
        left: 690px;
    }

    .gaben_gone_gack_akronym{
        color: white;
        font-size: 80px;
    }
    
}